<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>
  <!-- <div class="wrapper" style="padding: 1rem; border: 1px solid red; display: flex; flex-direction: center; align-items: center; width:fit-content">
    <canvas id="myCanvas" width={luas} height={luas} style="background-color: aqua;">
    </canvas>
  </div> -->

  <canvas id="my-canvas" width=auto height=auto></canvas>

<script>
    // Get a reference to the canvas element
    var canvas = document.getElementById("my-canvas");

    // Get the canvas context, which provides the methods and properties
    // for drawing on the canvas
    var ctx = canvas.getContext("2d");

    // Draw a rectangle on the canvas
    ctx.fillStyle = "cyan";
    ctx.fillRect(0, 0, {keliling}, {keliling});    
</script>
</body>
</html>