<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style = "transform: scale(1.2);">
        <div style = "
    height: 2rem; 
    width: 0rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 5rem solid #d8c219;
    left: 7rem;
    position: relative;
    ">
    </div>
    <div style = "
    height: 7rem; 
    width: 0rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 7rem solid #d8c219;
    left: 7rem;
    top: 7rem;
    transform: rotate(180deg);
    position: absolute;
    ">
    </div>
    <div style = "
    width: 10rem;
    height: .2rem;
    background-color: #000000;
    position: absolute;
    top: 6.9rem;
    left: 7rem;
    transform: rotate(-0deg);
    ">
    </div>
    <div style = "
    width: 11.97rem;
    height: 3px;
    background-color: #000000;
    position: absolute;
    top: 7.9rem;
    left: 6.05rem;
    transform: rotate(89.9deg);
    ">
    </div>
    </div>
    <div style = "
    width: 8rem;
    height: .2rem;
    background-color: #332da9;
    position: absolute;
    top: 12.7rem;
    left: 11.6rem;
    transform: rotate(-55deg);
    ">
    <p style="color:#1e8191; position:relative; bottom: -3rem; left: 3rem; transform: rotate(56deg); font-size: 13px; font-weight: bold;"> Panjang : {panjang} Cm</p>
    </div>
    <div style = "
    width: 7rem;
    height: .2rem;
    background-color: #332da9;
    position: absolute;
    top: 4.69rem;
    left: 4rem;
    transform: rotate(-46deg);
    ">
    <p style="color:#a71919; position:relative; bottom: 3.9rem; left: -1.2rem; transform: rotate(47deg); font-size: 13px; font-weight: bold;"> Lebar: {lebar} Cm</p>
    </div>
</body>
</html>