<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div style="padding-left:8rem; position: relative; width: fit-content;">
      <div
        style="
          width: 10rem;
          height: 5rem;
          transform: skew(20deg);
          background: cyan;
        "
      ></div>
      <div style="
        width: 10rem;
        height: .2rem;
        background-color: red;
        z-index: 2;
        margin-top: .8rem;
        margin-left: 1rem;
      ">
        <p style="color:red; position:relative; top:.5rem"> Alas jajargenjang {a} Cm</p>
      </div>
      <div style="
      height: 5.1rem;
      width: .2rem;
      background-color: hotpink;
      position: absolute;
      top: 0;
      left: 6.7rem;
      transform: rotate(-20deg);
      ">
         <p style="color:hotpink; transform: rotate(20deg); position:relative; width: 7rem; left:-6.9rem"> b jajargenjang {b} Cm</p>
      </div>
    </div>
  </body>
</html>
