<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      style="
        height: 11rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 11rem;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid red;
        transform: rotate(45deg);
        margin: 2.5rem;
      "
    >
      <div style="height: 10rem; width: 10rem; background-color: aqua"></div>
    </div>
    <p style="color:red ;font-weight: bold;">Keliling Belah ketupat <br> {keliling} Cm</p>
  </body>
</html>
