<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      style="
        height: 12rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        top: 0;
        left: 0;
        width: 12rem;
        background-color: cyan;       
        border-radius: 100%;
      "
    >
      <div style="display: flex; justify-content: center; height: .2rem; width: 12rem; background-color: rgb(255, 0, 0);">
        <p style="color: red; font-weight: bold">(d)
        </p>
      </div>
    </div>
    <p style="color: red; font-weight: bold">
      Jari-jari + jari-jari (d) <br> {r} Cm
    </p>
  </body>
</html>
