<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      style="
        height: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        top: 0;
        left: 0;
        width: 11rem;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 2px solid red;
      "
    >
      <div style="height: 7rem; width: 11rem; background-color: aqua"></div>
      <div style="position:relative; left: 1rem; height: 7rem; width: .1rem; background-color: yellowgreen">
        <p style="position:absolute; top:0; left:1rem; width:7rem;color:yellowgreen; font-weight: bold;">Lebar Persegi Panjang <br> {panjang} Cm</p>    
      </div>
    </div>
    <p style="color:red; font-weight: bold;">Lebar Persegi Panjang <br> {lebar} Cm</p>
  </body>
</html>
