<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div style="padding-left:1rem; position: relative; width: fit-content;">
      <div
        style="
          width: 10rem;
          height: 5rem;
          transform: skew(20deg);
          background: cyan;
        "
      ></div>
      <div style="
        width: 10rem;
        height: .2rem;
        background-color: red;
        z-index: 2;
        margin-top: .8rem;
        margin-left: 1rem;
      ">
        <p style="color:red; position:relative; top:.5rem"> Alas jajargenjang {alas} Cm</p>
      </div>
      <div style="
      height: 4.98rem;
      width: .2rem;
      background-color: yellowgreen;
      position: absolute;
      top: 0;
      right: 1.9rem;
      ">
         <p style="color:yellow; position:relative; width: 7rem; left:3rem"> Tinggi jajargenjang {tinggi} Cm</p>
      </div>
    </div>
  </body>
</html>
