<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
      <div style="transform: rotate(45deg); margin: 3rem; height: 10rem; width: 10rem; background-color: aqua; position: relative; display: flex; justify-content: center; align-items: center;">
        <div style="background-color: red; width: .2rem; height: 14rem; position: absolute; z-index: 2; transform:rotate(45deg);">   
          <p style="color:red; font-weight: bold; transform: rotate(-90deg); margin-top: -3rem">d1 <br> {d1} Cm</p>
        </div>
        <div style="background-color: #d4ff00; width: .2rem; height: 14rem; position: absolute; z-index: 2; transform:rotate(135deg);">    
          <p style="color:#d4ff00;; font-weight: bold; transform: rotate(180deg); margin-top: -4rem">d2 <br> {d2} Cm</p>
        </div>
      </div>
    
  </body>
</html>
