<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style = "padding-left: 5rem; position: relative; width: fit-content">
        <div style = "
        width: 9rem;
        height: .2rem;
        background-color: #0aa055;
        z-index: 2;
        margin-top: 4rem;
        margin-left: 3rem;
        position: absolute;
        ">
            <p style="color:#cd51b2; position:relative; bottom: 4rem"> Panjang Sisi 1  : {sisi1} Cm</p>
        </div>
        <div style = "
        width: 9.5rem;
        height: 5rem;
        border-bottom: 65px solid #d8c219;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        transform: skew(5deg);
        "></div>
        <div style = "
        width: 4.05rem;
        height: .2rem;
        background-color: #000000;
       	position: absolute;
       	top: 6.97rem;
       	left: 14.9rem;
        transform: rotate(-90deg);
        ">
            <p style="color:#cd51b2; position:relative; top: 2rem;left: 0rem; transform: rotate(90deg);"> Tinggi trapesium  : {tinggi} Cm</p>
        </div>
        </div>
        <div style = "
        width: 13.5rem;
        height: .2rem;
        background-color: #0aa055;
        z-index: 2;
        margin-top: .8rem;
        margin-left: 6rem;
        ">
            <p style="color:#cd51b2; position:relative; top: 0.5rem"> Panjang Sisi 2  : {sisi2} Cm</p>
        </div>
    </div>
</body>
</html>