<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style = "
    height: 2rem; 
    width: 0rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 5rem solid #d8c219;
    left: 1.5rem;
    position: relative;
    "></div>
    <div style = "
    height: 7rem; 
    width: 0rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 7rem solid #d8c219;
    left: 2rem;
    top: 7.5rem;
    transform: rotate(180deg);
    position: absolute;
    "></div>
    <div style = "
    width: 10rem;
    height: .2rem;
    background-color: #1e8191;
    position: absolute;
    top: 7.4rem;
    left: 2rem;
    transform: rotate(-0deg);
    ">
    <p style="color:#1e8191; position:relative; bottom: 1.7rem; left: 5.5rem; transform: rotate(-0deg); font-size: 12px; font-weight: bold;"> Diagonal 2: {dig2} Cm</p>
    </div>
    <div style = "
    width: 11.85rem;
    height: .2rem;
    background-color: #a71919;
    position: absolute;
    top: 8.39rem;
    left: 1.09rem;
    transform: rotate(89.9deg);
    ">
    <p style="color:#a71919; position:relative; bottom: 0.35rem; left: 0rem; transform: rotate(-90deg); font-size: 12px; font-weight: bold;"> Diagonal 1: {dig1} Cm</p>
    </div>
</body>
</html>